In [2]:
""" Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple


Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property. """

' Q1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple\n\n\nQ2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.\nWhat will be the data type of the above given variable.\n\nQ3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **\n\nQ4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.\n\nQ5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.\n\nQ6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.\n\nQ7. What do you understand about mutable and immutable data types? Give examples for both showing\nthis property. '

In [5]:
#Q1. Create one variable containing following type of data:
    
string1 = "physics wallah"
list1 = ["a","b",58,7+8j,90.7]
float1 = 89.9
tuple1 = (1,2,3,4,5)

In [7]:
print(type(string1))
print(type(list1))
print(type(float1))
print(type(tuple1))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [11]:
# ques2 Given are some following variables containing data:
var1 = " "
var2 = "[ DS , ML , Python]"
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
#What will be the data type of the above given variable.

In [12]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
#Q3. Explain the use of the following operators using an example:
"""(i) / = Division (float): divides the first operand by the second
     syntax = x / y
(ii) % = Modulus: returns the remainder when the first operand is divided by the second
      syntax = x % y
(iii) // =  Division (floor): divides the first operand by the second
     syntax = x // y
(iv) ** =  Power: Returns first raised to power second
     syntax = x**y 
     """

In [15]:
a = 5 
b = 3
c = a/b
d= a%b
e = a//b
f = a**b

print(c)
print(d)
print(e)
print(f)

1.6666666666666667
2
1
125

In [13]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
list2 = ["abc","def",234,5678,9+9j,89.0,"pw","happy",[54,67,78],7+5j]

In [14]:
for i in list2:
    print(type(i),i)

<class 'str'> abc
<class 'str'> def
<class 'int'> 234
<class 'int'> 5678
<class 'complex'> (9+9j)
<class 'float'> 89.0
<class 'str'> pw
<class 'str'> happy
<class 'list'> [54, 67, 78]
<class 'complex'> (7+5j)

In [4]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

def count_divisions(a, b):
    count = 0
    while a % b == 0:
        a = a // b  # Perform integer division
        count += 1  # Increment the count
    return count

# Example usage:
A = 100
B = 5
divisions = count_divisions(A, B)
print(f"{A} is divisible by {B} {divisions} times.")

100 is divisible by 5 2 times.

In [3]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not


# Create a list of 25 integers
int_list = [i for i in range(1, 26)]  # This will create a list [1, 2, 3, ..., 25]

# Loop through the list and check if each element is divisible by 3
for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In Python, data types can be classified as mutable or immutable based on whether their state can be modified after they are created.

### Immutable Data Types

Immutable data types are those whose values cannot be changed after they are created. Any operation that tries to modify the value of an immutable object will result in the creation of a new object. Examples of immutable data types include:

- Integers
- Floats
- Strings
- Tuples """

#Example: Immutable Data Types


# Integer example
a = 10
print(id(a))  # Prints the memory address of 'a'
a = a + 1
print(id(a))  # Prints a different memory address, since a new object was created

# String example
s = "hello"
print(id(s))  # Prints the memory address of 's'
s = s + " world"
print(id(s))  # Prints a different memory address, since a new object was created

# Tuple example
t = (1, 2, 3)
print(id(t))  # Prints the memory address of 't'
t = t + (4, 5)
print(id(t))  # Prints a different memory address, since a new object was created


### Mutable Data Types

"""Mutable data types are those whose values can be changed after they are created without creating a new object. Examples of mutable data types include:

-Lists
-Dictionaries
-Sets"""
#Example: Mutable Data Types

python
# List example
lst = [1, 2, 3]
print(id(lst))  # Prints the memory address of 'lst'
lst.append(4)
print(id(lst))  # Prints the same memory address, since the list was modified in place

# Dictionary example
d = {'a': 1, 'b': 2}
print(id(d))  # Prints the memory address of 'd'
d['c'] = 3
print(id(d))  # Prints the same memory address, since the dictionary was modified in place

# Set example
s = {1, 2, 3}
print(id(s))  # Prints the memory address of 's'
s.add(4)
print(id(s))  # Prints the same memory address, since the set was modified in place